header {
    padding: 2em 0!important;
	@media only screen and (max-width: 767px)  {
	    padding: 1.75em 0!important;
	}
	.site-title {
		@media only screen and (max-width: 767px)  {
			font-size: 1.75em!important;
			padding: 5px 0;
		}
		@media only screen and (max-width: 479px)  {
			font-size: 1.5em!important;
			padding: 7px 0;
		}
	}
	.site-branding {
		width: auto!important;
	}
	#site-header-cart {
		.mini_cart_item {
			a {
				img {
					background-color: white;
					padding: 2px;
				}
			}
		}
	}
	.col-full {
		.site-branding {
			display: none;
		}
		.logo {
			display: inline-block;
			width: 200px;
			vertical-align: bottom;
			@media only screen and (max-width: 767px)  {
				float: left;
			}
		}
		.secondary-navigation {
			margin-bottom: 0;
			margin-top: 87px;
			@media only screen and (max-width: 767px)  {
				margin-top: 15px;
			}
			ul {
				li {
					a {
						padding-bottom: 5px;
						vertical-align: bottom;
					}
				}
				li.social-first {
					padding-left: 10px;
				}
				.social {
					padding: 0 5px;
					a {
						font-size: 16px;
						padding: 0;
					}
				}
			}
		}
	}
}